.navbar {
    background-color: #0B213A;
    /* background-color:  #033966; */
}

.navbar-toggler{
    background-color: #C0EEF2;
}

.nav-title,
.nav-link {
    color: #E9F8F9;
    font-weight: bold;
    font-size: large;
}

.nav-title:hover,
.nav-link:hover {
    color: #C0EEF2;
}